includes:
  - vendor/larastan/larastan/extension.neon

parameters:
  paths:
    - app
  level: 6
  checkModelProperties: true
  # Options compatibles PHPStan 2 :
  phpVersion: 80300
  treatPhpDocTypesAsCertain: false
